@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Fuentes
$fuente_principal: 'Lato', sans-serif;

// Tamaño de Media Queries
$telefono: 300px;
$tablet: 768px;
$desktop: 1028px;

// Colores
$negro: #000000;
$amarillo: #E08709;
$blanco: #FFFFFF;
$gris: #e1e1e1;
$grisClaro:#f2f3f4;
$grisOscuro: #333333;
$azulFuerte:#0C70F2;
$azul:#ebf5fb;
$morado: #c59bf7;
$rojo: #a93226;
$verde:#e9f7ef;
$verdeFuerte:#27ae60;
$rosa:#f4ecf7;
$rosaFuerte:#bb8fce;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900